/* 
Pallete colors

Black : 000000
blue1 : 0B60B0
blue2 : 40A2D8
crema : F0EDCF 
grey : 232D3F

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #232d3f;
}

/* ----------------HEADER STYLES---------------- */

.navbar {
  /* width: 100%; */
  background-color: #0b60b0;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 4rem 0;
  position: sticky;
}

.container-nav {
  display: flex;
  align-items: center;
}

.logo__img {
  margin: 0 auto;
  width: 3%;
}
.navbar-title {
  font-weight: bold;
  text-align: center;
}

.navbar-title:hover {
  color: #40a2d8;
  cursor: pointer;
}

.navbar-line {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #232d3f;
  text-align: center;
}

.navbar-brand {
  color: white;
  /* margin: 0 auto; */
}

.nav-item {
  text-align: center;
}

.nav-item a {
  color: #f0edcf;
  font-size: 1.25rem;
  margin-right: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.nav-item a:hover {
  font-weight: bold;
  color: #232d3f;
  font-size: 1.3rem;
}

/* ----------------ABOUT STYLES---------------- */

.About__container {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__info {
  width: 70%;
  color: #f0edcf;
  font-size: 1.2rem;
  padding: 3rem;
}

.about__info h1 {
  font-weight: bold;
}

.about__info p {
  font-weight: bolder;
}

.about__img {
  width: 30%;
}

.about__social {
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
}

.about__social-icons a img {
  width: 2.5rem;
  margin: 0 3rem;
  align-items: center;
}

/* ----------------BTN STYLES---------------- */

.btn {
  color: #f0edcf;
}

.btn__general {
  margin-top: 2rem;
  margin-right: 1.5rem;
  padding: 0.7rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: 2px solid black;
  background-color: #0b60b0;
}

.btn__general:hover {
  background-color: #063764;
}

.btn-cv {
  margin-top: 2rem;
  margin-right: 1.5rem;
  padding: 0.7rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  font-weight: bolder;
  background-color: #f0edcf;
  border: 3px solid #0b60b0;
}

.btn-email {
  padding: 0.5rem 1.5rem;
}

.btn-cv:hover {
  background-color: #f0edcf;
  color: black;
  border: 3px solid #40a2d8;
}

/* ----------------PROYECTS STYLES---------------- */

.projects__container {
  margin: 4rem auto;
  color: #f0edcf;
  padding-bottom: 2rem;
}

.projects__info {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}

.projects__info h2 {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 2rem;
}

.projects__info p {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
}

.projects__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.card__links {
  text-decoration: none;
}

.card {
  height: 27rem;
  margin: auto auto;
}

.card img {
  object-fit: cover;
  height: 15rem;
}

.card-body {
  color: #f0edcf;
}

.card-body h6 {
  text-align: center;
  padding-bottom: 1rem;
  color: #0b60b0;
}

@media screen and (min-width: 767px) {
  .projects__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: o auto;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .projects__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 3rem; */
  }
}

/* ----------------SKILLS STYLES---------------- */

.skills__container {
  color: #f0edcf;
  padding-bottom: 2rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.skills__info {
  margin: 2rem auto;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.skills__info h2 {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 2rem;
}

.skills__info p {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem;
}

.skills__positions {
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 1rem;
}

.div__skills {
  border: 0.1px dashed #40a2d8;
  text-align: center;
  padding: auto;
  display: flex;
  padding: 1rem;
  align-items: center;
  border-radius: 0.25rem;
  height: 100%;
  background-color: #1f2937;
}

/* ----------------CONTACT STYLES---------------- */

.contact__container {
  color: #f0edcf;
  padding: 0 5rem;
  margin: 4rem auto;
  width: 80%;
  display: flex;
}

.contact__title {
  text-transform: uppercase;
  text-align: center;
  margin: 3rem auto;
}

.contact__info--container {
  width: 50%;
  /* border: 1px solid blue; */
}

.contact__info--container p {
  /* color: #0b60b0; */
  color: #40a2d8;
  font-weight: bold;
  font-size: 1.2rem;
}

.contact__form--container {
  width: 50%;
  /* border: 1px solid blue; */
}

/* ----------------FOOTER STYLES---------------- */

.footer__container {
  width: 100%;
  background-color: #0b60b0;
  margin: 0 auto;
  text-align: center;
  color: #f0edcf;
  padding: 1rem 5rem;
}

.footer__container-text {
  font-size: 1.1rem;
}

.footer__container-text a {
  text-decoration: none;
  color: #f0edcf;
  font-weight: bold;
}

.footer__container-icons a img {
  width: 2.5em;
  margin: 1rem 3rem;
}
